.header {
  background-color: #000000;
  position: sticky;
  top: 0;
  z-index: 9999;
  transition: transform 0.3s ease;
}

.hidden {
  transform: translateY(-100%);
}

.container {
  display: flex;
  min-width: 320px;
  max-width: 1246px;
  padding: 10px 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1260px;
    padding: 14px 7px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
