.header {
  background-color: var(--plyr-video-background);
  position: sticky;
  top: 0;
  z-index: 9999;
  transition: transform 0.3s ease;
}

.hidden {
  transform: translateY(-100%);
}

.container {
  display: flex;
  min-width: 320px;
  max-width: 1246px;
  height: 60px;
  padding: 0px 15px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .container {
    height: 64px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1260px;
    height: 68px;
    padding: 0px 7px;
    justify-content: space-between;
  }
}
