.container {
  max-width: 1246px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
}

.wrapper {
  margin-bottom: 60px;
  display: flex;
  gap: 39px;
}

.title {
  font-weight: 600;
  font-size: 22px;
  line-height: 1.2;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .container {
    padding-top: 20px;
  }

  .title {
    font-size: 26px;
  }
}

@media screen and (min-width: 1280px) {
  .title {
    font-size: 28px;
  }
}
