.favoriteMovies {
  padding-top: 30px;
  padding-bottom: 40px;
}

.container {
  min-width: 320px;
  max-width: 375px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}

.favoriteMoviesTitle {
  font-weight: 600;
  font-size: 22px;
  line-height: 1.2;
  margin-bottom: 30px;
}

.stub {
  margin-top: 260px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subIcon {
  width: 96px;
  height: 96px;
  fill: #5d5d5d;
  margin-bottom: 20px;
}

.title {
  font-size: 16px;
  line-height: 1.4;
  font-weight: 700;
  color: #fafafa99;
}

.text {
  font-size: 16px;
  line-height: 1.4;
  color: #fafafa99;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .favoriteMovies {
    padding-top: 8px;
  }

  .container {
    max-width: 768px;
  }

  .favoriteMoviesTitle {
    font-size: 26px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1260px;
    padding: 0 7px;
  }

  .favoriteMoviesTitle {
    font-size: 28px;
  }
}
