.bestMovies {
  padding-top: 30px;
  padding-bottom: 40px;
}

.container {
  min-width: 320px;
  max-width: 375px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}

.bestMoviesTitle {
  font-weight: 600;
  font-size: 22px;
  line-height: 1.2;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .bestMovies {
    padding-top: 8px;
  }

  .container {
    max-width: 768px;
  }

  .bestMoviesTitle {
    font-size: 26px;
  }
}

@media screen and (min-width: 1280px) {
  .bestMovies {
    padding-top: 10px;
  }

  .container {
    max-width: 1260px;
    padding: 0 7px;
  }

  .bestMoviesTitle {
    font-size: 28px;
  }
}
