.preloader {
  top: 1;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 99999999999;
  background-color: #242424;
}

.colorRingLoading {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
}
