.actorsList {
  max-width: 100%;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.actorCard {
  border-radius: 10px;
}

.actorImage {
  border-radius: 100%;
  overflow: hidden;
  background-color: #969696;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.nameContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 0;
  text-align: center;
}

.actorName {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
  overflow: hidden;
  text-overflow: ellipsis;
  overflow-wrap: break-word;
  word-break: break-word;
}

@media screen and (min-width: 1280px) {
  .actorsList {
    max-width: 1260px;
    padding-left: 7px;
    padding-right: 7px;
  }

  .nameContainer {
    padding: 16px 0px;
  }
}
