.actorsList {
  max-width: 100%;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 42px;
}

.sliderContainer {
  position: relative;
}

.actorImage {
  border-radius: 100%;
  overflow: hidden;
  aspect-ratio: 1/1;
  object-fit: cover;
  margin-bottom: 12px;
}

.nameContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.actorName {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
  overflow: hidden;
  text-overflow: ellipsis;
  overflow-wrap: break-word;
  word-break: break-word;
}

@media screen and (min-width: 1280px) {
  .actorsList {
    max-width: 1260px;
    padding-left: 7px;
    padding-right: 7px;
    margin-bottom: 46px;
  }

  .actorImage {
    margin-bottom: 16px;
  }
}
