.sliderContainer {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.movieLink {
  aspect-ratio: 1/2;
}

.titleContainer {
  position: absolute;
  top: 6px;
  left: 6px;
  text-align: start;
  background-color: rgba(26, 26, 26, 0.13);
  padding: 8px;
  border-radius: 8px;
}

.titleMovies {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.1;
  text-transform: uppercase;
}

.movieImage {
  aspect-ratio: 1.75/1;
  border-radius: 10px;
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .titleContainer {
    top: 10px;
    left: 10px;
    padding: 8px 10px;
    border-radius: 10px;
  }

  .titleMovies {
    font-size: 28px;
    line-height: 1.33;
  }

  .movieImage {
    aspect-ratio: 2/1;
  }
}

@media screen and (min-width: 1280px) {
  .titleContainer {
    top: 242px;
    left: 34px;
    padding: 12px 22px;
  }

  .titleMovies {
    font-size: 42px;
  }

  .movieImage {
    aspect-ratio: 3.5/1;
  }
}
