.btnBase {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  background-color: transparent;
  border: none;
  color: #f7f6f1;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 4px;
  transition: color var(--animation);
}

.btnBase:hover {
  color: var(--plyr-color-main);
}

.left {
  left: -60px;
}

.right {
  right: -60px;
}
