.container {
  min-width: 320px;
  max-width: 100%;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
}

.titleContainer {
  min-width: 305px;
  max-width: 360px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.similarFilmsTitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

@media screen and (min-width: 768px) {
  .titleContainer {
    max-width: 768px;
  }

  .similarFilmsTitle {
    font-size: 28px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1260px;
    padding: 0 7px;
  }

  .titleContainer {
    max-width: 1245px;
  }
}
