.logoutBtn {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 80px;
  font-weight: 600;
  font-size: 18px;
  padding: 0;
  border: none;
  background-color: transparent;
  color: #f7f6f1;
  transition: color 200ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logoutBtn:hover {
  color: #fec90c;
}

@media screen and (min-width: 768px) {
  .logoutBtn {
    justify-content: end;
    font-size: 16px;
  }
}
