.tvAdvertising {
  padding-bottom: 160px;
  background-color: #000000;
  min-width: 1158px;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.container {
  display: flex;
  justify-content: space-between;
  max-width: 1260px;
  padding-left: 7px;
  padding-right: 7px;
  margin-left: auto;
  margin-right: auto;
}

.titleContainer {
  padding-top: 140px;
}

.title {
  width: 600px;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
}

.tvMacupContainer {
  position: relative;
  padding-top: 100px;
  width: 640px;
}

.macup {
  position: absolute;
  top: 1px;
  z-index: 999999;
}

.tvImage {
  margin-left: 83px;
}
