.tvAdvertising {
  padding-top: 60px;
  padding-bottom: 140px;
  background-color: #000000;
  min-width: 320px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 320px;
  max-width: 375px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.title {
  max-width: 300px;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.2;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

.tvMacupContainer {
  position: relative;
  padding-top: 50px;
  max-width: auto;
}

.macup {
  position: absolute;
  top: 5px;
  z-index: 999999;
  min-width: 290px;
  max-width: 100%;
  height: auto;
}

.tvImage {
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 1280px) {
  .tvAdvertising {
    padding-top: 40px;
    padding-bottom: 180px;
    min-width: 1158px;
    max-width: 1920px;
  }

  .container {
    flex-direction: row;
    max-width: 1260px;
    padding-left: 7px;
    padding-right: 7px;
  }

  .titleContainer {
    padding-top: 100px;
  }

  .title {
    max-width: 400px;
    font-size: 48px;
    margin-bottom: 0;
  }

  .tvMacupContainer {
    padding-top: 100px;
    width: 640px;
  }

  .macup {
    top: 1px;
  }
}
