.reviewsList {
  max-width: 1260px;
  padding-left: 7px;
  padding-right: 7px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.authorDataReview {
  display: flex;
  gap: 20px;
  align-items: end;
  margin-bottom: 12px;
}

.authorReviewName {
  font-size: 22px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.dataReview {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.6;
  color: #fafafa99;
}

.reviewItem {
  padding: 20px;
  border: solid 1px rgb(250, 250, 250, 0.2);
  border-radius: 10px;
}

.textReviewContainer {
  max-height: 144px;
  overflow-y: scroll;
}

.textReview {
  color: #fafafa99;
  line-height: 1.6;
}
