.movies {
  padding-top: 30px;
  padding-bottom: 40px;
}

.container {
  min-width: 320px;
  max-width: 375px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 1280px) {
  .movies {
    padding-top: 30px;
    padding-bottom: 40px;
  }

  .container {
    max-width: 1260px;
    padding-left: 7px;
    padding-right: 7px;
    margin-left: auto;
    margin-right: auto;
  }
}
