.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.navItemsContainer {
  display: flex;
  gap: 30px;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
  margin-right: 15px;
}

.link {
  text-decoration: none;
}

.active {
  color: #fec90c;
}

.userContainer {
  display: flex;
  gap: 15px;
}

@media screen and (min-width: 1280px) {
  .nav {
    width: 1060px;
  }

  .navItemsContainer {
    gap: 410px;
  }

  .loggedIn {
    gap: 365px;
  }
}
