.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.navItemsContainer {
  display: flex;
  gap: 30px;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
  margin-right: 15px;
}

.searchIcon {
  width: 24px;
  height: 24px;
  vertical-align: text-top;
}

.link {
  text-decoration: none;
}

.active {
  color: #fec90c;
}

.logo {
  color: #fec90c;
  width: 40px;
  height: 40px;
  vertical-align: top;
}

.userContainer {
  display: flex;
  gap: 15px;
}

@media screen and (min-width: 768px) {
  .navItemsContainer {
    gap: 50px;
  }

  .nav {
    margin-right: 22px;
  }
}

@media screen and (min-width: 1280px) {
  .nav {
    width: 1060px;
  }
}
