.movies {
  padding-top: 30px;
  padding-bottom: 40px;
}

.pageTitleContainer {
  margin-left: auto;
  margin-right: auto;
  padding: 0px 15px 0px 15px;
  min-width: 320px;
  max-width: 100%;
}

.container {
  margin-left: auto;
  margin-right: auto;
  min-width: 320px;
  max-width: 100%;
}

.pageTitle {
  font-weight: 600;
  font-size: 22px;
  line-height: 1.2;
  margin-bottom: 30px;
}

.nowPlayMoviesContainer {
  min-width: 320px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-bottom: 50px;
}

.moviesContainer {
  min-width: 320px;
  max-width: 100%;
  padding-left: 15px;
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.moviesTitle {
  font-weight: 600;
  font-size: 22px;
  line-height: 1.2;
}

.titleContainer {
  margin-bottom: 30px;
  max-width: 1246px;
  padding-right: 15px;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.moreLink {
  display: none;
}

.moreLinkMob {
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.moreIcon {
  width: 14px;
  height: 14px;
}

@media screen and (min-width: 768px) {
  .pageTitleContainer {
    max-width: 1246px;
  }

  .pageTitle {
    font-size: 26px;
  }

  .moviesContainer {
    padding-top: 60px;
  }

  .moviesTitle {
    font-size: 26px;
  }

  .moreIcon {
    width: 16px;
    height: 16px;
  }
}

@media screen and (min-width: 1280px) {
  .movies {
    padding-top: 10px;
  }

  .container,
  .pageTitleContainer {
    max-width: 1246px;
    padding: 0px;
  }

  .pageTitle {
    font-size: 28px;
  }

  .nowPlayMoviesContainer {
    max-width: 1260px;
    padding-left: 7px;
    padding-right: 7px;
  }

  .moviesContainer {
    max-width: 1260px;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 70px;
    margin-left: auto;
    margin-right: auto;
  }

  .titleContainer {
    margin-bottom: 30px;
    max-width: 1246px;
    padding-right: 0;
  }

  .moreLink {
    display: inline-block;
  }

  .moreLinkMob {
    display: none;
  }

  .moviesTitle {
    font-size: 28px;
  }
}
