.popularMovies {
  padding-top: 30px;
  padding-bottom: 40px;
}

.container {
  min-width: 320px;
  max-width: 510px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}

.popularMoviesTitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .popularMovies {
    padding-top: 8px;
  }

  .container {
    max-width: 768px;
  }

  .popularMoviesTitle {
    font-size: 28px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1260px;
    padding: 0 7px;
  }
}
