.noResultsText {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.2;
  color: #fafafa99;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .noResultsText {
    font-size: 18px;
  }
}

@media screen and (min-width: 1280px) {
  .noResultsText {
    text-align: start;
  }
}
