.authContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.linkNav {
  font-size: 18px;
}

.active {
  color: #fec90c;
}

@media screen and (min-width: 768px) {
  .authContainer {
    flex-direction: row;
    gap: 10px;
  }

  .linkNav {
    font-size: 16px;
    line-height: 14px;
    display: inline-block;
    padding-right: 10px;
  }

  .marker {
    border-right: 1px solid #fff;
  }
}
