.ibmContainer {
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: #000000;
  min-width: 320px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.container {
  max-width: 375px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ibmTitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
  margin-bottom: 40px;
  text-align: center;
}

.ibmText {
  font-weight: 500;
  line-height: 1.6;
  margin-bottom: 35px;
  text-align: center;
  font-size: 16px;
  max-width: 330px;
}

.logoList {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 55px;
  row-gap: 50px;
  max-width: 260px;
}

.wbIcon {
  width: 60px;
  height: 60px;
}

.paramountIcon {
  margin-left: 10px;
  width: 87px;
  height: 60px;
}

.dreamWorksIcon {
  width: 92px;
  height: 60px;
}

.universalIcon {
  width: 106px;
  height: 60px;
}

.companyIcon {
  fill: #f7f6f1;
  transition: fill var(--animation);
}

.companyIcon:hover {
  fill: #fec90c;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .ibmTitle {
    font-size: 28px;
  }

  .ibmText {
    font-size: 18px;
    max-width: 480px;
  }

  .logoList {
    flex-wrap: nowrap;
    max-width: 700px;
  }

  .wbIcon {
    width: 70px;
    height: 70px;
  }

  .paramountIcon {
    margin-left: 0px;
    width: 102px;
    height: 70px;
  }

  .dreamWorksIcon {
    width: 107px;
    height: 70px;
  }

  .universalIcon {
    width: 124px;
    height: 70px;
  }
}

@media screen and (min-width: 1280px) {
  .ibmContainer {
    min-width: 1158px;
    max-width: 1920px;
  }

  .container {
    max-width: 1260px;
    padding-left: 7px;
    padding-right: 7px;
  }

  .ibmText {
    max-width: 700px;
  }

  .logoList {
    gap: 70px;
  }

  .wbIcon {
    width: 80px;
    height: 80px;
  }

  .paramountIcon {
    width: 117px;
    height: 80px;
  }

  .dreamWorksIcon {
    width: 123px;
    height: 80px;
  }

  .universalIcon {
    width: 141px;
    height: 80px;
  }
}
