.footer {
  background-color: var(--plyr-video-background);
}

.footerContainer {
  min-width: 320px;
  max-width: 100%;
  padding: 10px 15px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
}

.descriptionFooter {
  font-size: 12px;
  line-height: 1.4;
  color: #626262;
  width: 200px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .footerContainer {
    max-width: 1246px;
    padding: 19px 15px;
    justify-content: start;
  }

  .descriptionFooter {
    font-size: 14px;
    width: 100%;
    text-align: start;
  }
}

@media screen and (min-width: 1280px) {
  .footerContainer {
    max-width: 1260px;
    padding: 22px 7px;
  }
}
