.shortGenresList {
  display: flex;
  gap: 39px;
  align-items: center;
}

.genreItemWrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
  justify-content: center;
  background-color: var(--plyr-video-background);
  color: #f7f6f1;
  border-radius: 10px;
  height: 96px;
  width: 175px;
  cursor: pointer;
  transition: border var(--animation);
}

.genreItemWrapper:hover {
  border: solid 2px var(--plyr-color-main);
  color: #f7f6f1;
}

.genreItem {
  font-size: 16px;
  font-weight: 500;
}

.genreIcon {
  fill: var(--plyr-color-main);
  fill: #5d5d5d;
  /* fill: #fafafa99; */
}
