.registerLink {
  height: 48px;
  width: 100%;
  max-width: 327px;
  font-size: 16px;
  font-weight: 700;
  box-shadow: none;
  border-radius: 100px;
  background-color: #fec90c;
  color: #431f05;
  text-transform: uppercase;
  transition: background-color var(--animation), color var(--animation);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.registerLink:hover {
  background-color: #eeb104;
  color: #431f05;
}

@media screen and (min-width: 768px) {
  .registerLink {
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 1280px) {
  .registerLink {
    margin-bottom: 219px;
  }
}
