.active {
  color: #fec90c;
}

.link {
  font-size: 18px;
}

.navListContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .link {
    font-size: 16px;
  }
}

@media screen and (min-width: 1280px) {
  .navListContainer {
    flex-direction: row;
    gap: 30px;
  }

  .link {
    font-size: 16px;
  }
}
