.playBtn {
  position: relative;
  z-index: 1000;
  font-family: inherit;
  border: none;
  height: 48px;
  width: 240px;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  box-shadow: none;
  border-radius: 100px;
  background-color: var(--plyr-color-main);
  color: #000000;
  transition: background-color var(--animation);
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.playBtn:hover {
  background-color: #ffdf44;
  color: #000000;
}
