.hero {
  background-image: linear-gradient(
      180deg,
      #00000000 0%,
      #0000000a 16%,
      #00000021 29%,
      #00000042 41%,
      #0000006b 51%,
      #00000094 61%,
      #000000bd 70%,
      #000000de 79%,
      #000000f5 89%,
      #000000ff 100%
    ),
    url("../../img/header.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  height: 600px;
  min-width: 1158px;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
  padding-bottom: 30px;
}

.heroContainer {
  max-width: 1260px;
  padding-left: 7px;
  padding-right: 7px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.mainTitle {
  font-size: 64px;
  font-weight: 700;
  line-height: 1.2;
  max-width: 636px;
  margin-top: 110px;
}

.heroImage {
  margin-top: 140px;
}

.sectionBorder {
  width: 100%;
  height: 8px;
}

.trendMovies {
  padding-top: 30px;
  padding-bottom: 40px;
}

.container {
  max-width: 1260px;
  padding-left: 7px;
  padding-right: 7px;
  margin-left: auto;
  margin-right: auto;
}

.trendMoviesTitle {
  font-weight: 600;
  font-size: 28px;
  line-height: 1.2;
}

.titleContainer {
  margin-bottom: 30px;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
