.hero {
  background-image: linear-gradient(
      180deg,
      #00000000 0%,
      #0000000a 16%,
      #00000021 29%,
      #00000042 41%,
      #0000006b 51%,
      #00000094 61%,
      #000000bd 70%,
      #000000de 79%,
      #000000f5 89%,
      #000000ff 100%
    ),
    url("../../img/header-mob.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  min-width: 320px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
  padding-bottom: 24px;
}

.heroContainer {
  min-width: 320px;
  max-width: 375px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainTitle {
  font-size: 37px;
  font-weight: 700;
  line-height: 1.2;
  min-width: 290px;
  max-width: 300px;
  margin-bottom: 100px;
}

.lineBreak {
  white-space: pre;
}

.heroImage {
  min-width: 290px;
  max-width: 100%;
  height: auto;
}

.devicesContainer {
  position: relative;
  max-width: 375px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  padding-top: 24px;
}

.devicesContainer::before {
  content: "";
  position: absolute;
  top: 0;
  opacity: 0.2;
  background: #b0b0b0;
  width: calc(100% - 30px);
  height: 2px;
  display: block;
}

.deviceTitleContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.deviceTitle {
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}

.deviceDescription {
  font-size: 14px;
  line-height: 1.4;
  color: #626262;
  text-align: center;
}

.devicesList {
  display: flex;
  gap: 13px;
}

.deviceItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.deviceIcon {
  width: 24px;
  height: 24px;
  stroke: #5d5d5d;
}

.deviceName {
  font-size: 12px;
}

.sectionBorder {
  width: 100%;
  height: 6px;
}

.trendMovies {
  padding-top: 40px;
  padding-bottom: 40px;
}

.container {
  min-width: 320px;
  max-width: 100%;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
}

.trendMoviesTitle {
  font-weight: 600;
  font-size: 22px;
  line-height: 1.2;
}

.titleContainer {
  margin-bottom: 30px;
  max-width: 360px;
  padding-right: 15px;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}

.moreLink {
  display: none;
}

.moreLinkMob {
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.moreIcon {
  width: 14px;
  height: 14px;
}

@media screen and (min-width: 768px) {
  .heroContainer {
    max-width: 768px;
  }

  .mainTitle {
    font-size: 56px;
    max-width: 636px;
    text-align: center;
    margin-bottom: 0;
  }

  .heroImage {
    width: 580px;
    height: 379px;
    margin-top: 140px;
  }

  .devicesContainer {
    max-width: 768px;
  }

  .deviceTitle {
    font-size: 22px;
  }

  .devicesList {
    gap: 30px;
  }

  .deviceIcon {
    width: 44px;
    height: 44px;
  }

  .titleContainer {
    max-width: 768px;
  }

  .trendMoviesTitle {
    font-size: 26px;
  }

  .moreIcon {
    width: 16px;
    height: 16px;
  }
}

@media screen and (min-width: 1280px) {
  .hero {
    background-image: linear-gradient(
        180deg,
        #00000000 0%,
        #0000000a 16%,
        #00000021 29%,
        #00000042 41%,
        #0000006b 51%,
        #00000094 61%,
        #000000bd 70%,
        #000000de 79%,
        #000000f5 89%,
        #000000ff 100%
      ),
      url("../../img/header.png");
    min-width: 1158px;
    max-width: 1920px;
    padding-top: 30px;
    padding-bottom: 24px;
  }

  .heroContainer {
    max-width: 1260px;
    padding-left: 7px;
    padding-right: 7px;
    flex-direction: row;
    align-items: start;
  }

  .mainTitle {
    font-size: 64px;
    max-width: 636px;
    margin-top: 110px;
    text-align: start;
  }

  .lineBreak {
    white-space: pre-line;
  }

  .heroImage {
    width: 612px;
    height: 400px;
  }

  .devicesContainer {
    max-width: 1260px;
    padding: 0 7px;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 24px;
    align-items: start;
  }

  .devicesContainer::before {
    width: calc(100% - 14px);
  }

  .deviceTitleContainer {
    gap: 8px;
    align-items: start;
  }

  .deviceTitle {
    font-size: 24px;
  }

  .deviceIcon {
    width: 48px;
    height: 48px;
  }

  .sectionBorder {
    height: 8px;
  }

  .trendMovies {
    padding-top: 50px;
  }

  .container {
    max-width: 1260px;
    padding-left: 7px;
    padding-right: 7px;
  }

  .titleContainer {
    margin-bottom: 30px;
    min-width: 1246px;
    padding: 0;
  }

  .moreLink {
    display: inline-block;
  }

  .moreLinkMob {
    display: none;
  }

  .trendMoviesTitle {
    font-size: 28px;
  }
}
